ul.payment_method_info{
    list-style-type: disc;
}
#app-layout{
    font-family: "GothamSSm",Helvetica,Arial,sans-serif;
}
#app-layout select{
    font-family: "Gotham Medium",Helvetica,Arial,sans-serif;
    font-weight: bold;
}
#app-layout .navbar{
    background: #fff;
    border: none;
    margin-bottom: 0;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
}
#app-layout .navbar-nav .dropdown-menu li a{
    text-transform: capitalize;
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
}
#app-layout .navbar-left li a{
    font-family: "Gotham Medium",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color : #666;
}
#app-layout .navbar-right li.profile_section a .profile_img{
    height:30px;
    width: 30px;
}
#app-layout .navbar-right li.profile_section a{
    padding-top: 10px;
    padding-left: 8px;
}
#app-layout .navbar-right li a{
    text-transform: capitalize;
    font-size: 12px;
    color : #666;
    font-weight: bold;
    font-family: "Gotham Medium",Helvetica,Arial,sans-serif;
}
#app-layout .navbar-brand{
    height: 65px;
}
#app-layout .navbar-nav{
    padding-top: 8px;
}
#app-layout .navbar-nav li a:hover{
    background: none;
    color: #205d00;
}
#app-layout .navbar-nav li a:focus{
    background-color: transparent;
}
#app-layout .navbar-right li a i{
    font-size: 20px;
}
#app-layout .navbar-right .dropdown-menu::before {
    content: " ";
    position: absolute;
    display: block;
    top: -7px;
    border: 8px solid #fff;
    border-color: transparent transparent #fff #fff;
    transform: translateX(-50%) rotate(135deg);
    box-shadow: -2px 2px 3px rgba(57,73,76,.1);
    left: auto;
    right: 12px;
}
#app-layout .navbar-left .dropdown-menu::before{
    content: " ";
    position: absolute;
    display: block;
    top: -7px;
    border: 8px solid #fff;
    border-color: transparent transparent #fff #fff;
    transform: translateX(-50%) rotate(135deg);
    box-shadow: -2px 2px 3px rgba(57,73,76,.1);
    left: 28px;
}
#app-layout .navbar-left .dropdown:hover .dropdown-menu {
    display: block;
}
.profile_section .img_box,.profile_section .user_info{
    float: left;
}
.profile_section .user_info p{
    margin-bottom: 0;
    font-size: 12px;
    line-height: 16px;
    padding-left: 8px;
}
.search_wrapper .search_form{
    padding: 0;
}
.search-input{
    margin-top: 8px;
}

.left_wrapper #topic_list li.active a:after,  #settings_menu ul li.active a:after{
    content: " ";
    position: absolute;
    border-left: 4px solid #205d00;
    left: 0;
    right: auto;
    bottom: 0;
    top: 0;
}
.left_wrapper #topic_list li.active a, #settings_menu ul li.active a{
    background-color: #f9f9f9;
    border-left-width: 0!important;
    color: #205d00;
    padding: 9px 20px;
    text-decoration: none;
    font-weight: 700;
}
.job_categories ul li{
    margin-bottom: 10px;
}
.job_categories ul li a{
    font-size: 13px;
}
.left_wrapper ul{
    padding-left: 0;
}
.left_wrapper #topic_list li a, #settings_menu ul li a{
    color: #222;
    font-size: 13px;
    padding: 6px 15px;
    font-weight: 500;
}
.air-card header h3{
    font-size: 22px;
    font-family: "GothamSSm",Helvetica,Arial,sans-serif;
    display: inline-block;
}
#no_joblist h3{
    line-height: 27px;
    font-size: 21px;
    font-weight: 400;
}
.air-card header{
    border-bottom: 1px solid #e0e0e0;
    padding: 30px;
    background-color: #f9f9f9;
}
.air-card section{
    padding:20px 0;
    background: #fff;
}
#job-feed .feed_footer{
    border-top: 1px solid #e0e0e0;
    padding: 30px;
    background-color: #f9f9f9;
}
.air-card{
    position: relative;
    padding:0;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
}

.app-footer p.copyright{
    color: #969696;
}
.app-footer p a{
    color: #969696;
}
.app-footer p{
    margin-bottom: 0;
}
.app-footer{
    padding: 10px 0;
    background: #444444;
}
.footer_menu ul li a{
    font-family: "Gotham Medium",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight:bold;
    line-height: 30px;
    color: #969696;
}
.logged_wrapper{
    background: #f2f2f2;
}
.profile_img{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    display: inline-block;
}
.right_wrapper .profile h4{
    display: inline-block;
}
.register_content{
    padding: 0 30px;
}
#app-layout form button{
    margin-top: 20px;
    border-radius: 2px;
}
#signup_page{
    background: #f9f9f9;
}
#signup_page .panel_title h2{
    margin: 20px 0 20px 0;
}
#signin_page .panel_title h2{
    margin-bottom: 30px;
    margin-top: 0;
}
#user_email{
    margin-bottom: 28px;
    font-weight: bold;
}
#freelancer_fields{
    top: 20px;
    display:none;
    clear: both;
    position: relative;
    overflow: auto;
}
#captcha_img{
    margin-top: 30px;
}
#refresh_img i{
    position: relative;
    top: 15px;
    left: -5px;
    font-size: 20px;
}
.signup_container,.login_wrapper{
    position: relative;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
    border-radius: 0;
    margin: 50px 0 40px 0;
}
.register_content .form-group i, .login_content .form-group i{
    position: absolute;
    top:12px;
    left: 24px;
    color: #a7a7a7;
}
.select2-container{
    width: 100% !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height:35px;
}
.select2-container .select2-selection--single{
    height:38px;
    border-radius: 1px;
}
#form_step2{
    display: none;
}
.user_type:hover, .user_type.active_type {
    border-color: transparent;
    background-color: #008329;
    color: #fff;
}
.user_type {
    border-radius: 0;
    padding: 9px 28px;
    box-shadow: 0 1px 3px rgba(57,73,76,.35);
    border-color: transparent;
}
#regen-captcha i{
    top: 60px;
    left: 25%;
    font-size: 20px;
}
/************** Modals ****************/
#billing_modal .protected_note img{
    height: 23px;
}
#billing_modal .method_type{
    padding-top: 10px;
    padding-bottom: 10px;
}
#billing_modal .protected_note{
    padding: 7px 0;
    background-color: #EBF7EC;
}
#billing_modal .cards_img img{
    width:125px;
}
#payment_modal .payment_card{
    width: 140px;
}
.eo-button-box h3{
    color: #656565;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}
.eo-button-box {
    position: relative;
    vertical-align: top;
    text-align: center;
    height: 100%;
    min-height: 130px;
    border-radius: 2px;
    border: 0 solid transparent;
    padding: 15px;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
}
#notification_settings .dropdown .arrow_down{
    float: right;
    color: #205d00;
}
#notification_settings .dropdown button{
    min-width: 90%;
    text-align: left;
}
#notification_settings .dropdown button, #notification_settings .dropdown-menu{
    border-radius: 1px;
}