body, html{
    padding: 0;
    margin: 0;
    font-family: 'Gotham-Light', Arial, sans-serif;
    font-size: 13px;
    color: #494949;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .btn{
    font-family: 'Gotham-Medium', Arial, sans-serif;
}
h1,.jumbotron h1{
    font-size: 50px;
}
a{
    color: #205d00;
    text-decoration: none;
}
@font-face{
    font-family: 'Gotham-Medium';
    src: url('./fonts/Gotham-Medium.eot');
    src: url('./fonts/Gotham-Medium.eot') format('eot'),
    url('./fonts/Gotham-Medium.woff') format('woff'),
    url('./fonts/Gotham-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Gotham-Light';
    src: url('./fonts/Gotham-Light.eot');
    src: url('./fonts/Gotham-Light.eot') format('eot'),
    url('./fonts/Gotham-Light.woff') format('woff'),
    url('./fonts/Gotham-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'GothamSSm';
    src: url('./fonts/GothamSSm.eot');
    src: url('./fonts/GothamSSm.eot') format('eot'),
    url('./fonts/GothamSSm.woff') format('woff'),
    url('./fonts/GothamSSm.ttf') format('truetype');
}
a:hover, a:focus{
    text-decoration: none;
    color: #205d00;
}
ul{
    margin-bottom: 0;
    list-style: none;
    padding-left: 16px;
}
.form-horizontal .form-group {
    margin: 0 0 20px;
}
.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.modal-content{
    border-radius: 1px;
    padding-bottom: 30px;
}
.clearfix{
    display: block;
    content: "";
    clear: both;
}
.m-l-40{
    margin-left: 40px;
}
.m-l-20{
    margin-left: 20px;
}
.m-l-30{
    margin-left: 30px;
}
.m-t-110{
    margin-top: 100px;
}
.m-t-50{
    margin-top: 50px;
}
.m-t-40{
    margin-top: 40px;
}
.m-t-20{
    margin-top: 20px;
}
.m-t-10{
    margin-top: 10px;
}
.m-t-30{
    margin-top: 30px;
}
.m-t-70{
    margin-top: 70px;
}
.m-t-0{
    margin-top: 0;
}
.m-b-0{
    margin-bottom: 0px !important;
}
.m-b-10{
    margin-bottom: 10px;
}
.m-b-30{
    margin-bottom: 30px;
}
.m-b-20{
    margin-bottom: 20px;
}
.m-b-70{
    margin-bottom: 70px;
}
.p-0{
    padding: 0px;
}
.p-r-10{
    padding-right: 10px;
}
.p-r-20{
    padding-right: 20px;
}
.p-r-30{
    padding-right: 30px;
}
.p-r-50{
    padding-right: 50px;
}
.p-l-10{
    padding-left: 10px;
}
.p-l-40{
    padding-left: 40px;
}
.p-l-20{
    padding-left: 20px;
}
.p-l-30{
    padding-left: 30px !important;
}
.p-t-20{
    padding-top: 20px;
}
.p-t-30{
    padding-top: 30px;
}
.p-t-10{
    padding-top: 10px;
}
.p-t-70{
    padding-top: 70px;
}
.p-b-70{
    padding-bottom: 70px;
}
.btn-full{
    width: 100%;
}
.btn-link{
    color: #205d00;
}
.btn-link:hover {
    color: #008329;
}
.mid-icon i{
    font-size: 20px;
}
.paid_detail:after{
    content: " ";
    border-bottom: 1px solid #e0e0e0;
    display: block;
    position: relative;
    top: 21px;
    z-index: 7;
    left: -30px;
    width: calc(100% + 10px * 2);
}
.jumbotron p{
    font-size: 16px;
    margin-bottom: 24px;
}
.t-b-space{
    padding: 50px;
}
.text-short{
    font-size: 14px;
}
.sm-line{
    width: 80px;
    border: 2px solid #ccc;
    margin-left: auto;
    margin-right: auto;
}
#form_step2 small{
    position: relative;
    top:-3px;
}
.form_error{
    border-color: #d50000!important;
}
.error_message{
    margin-top: 10px;
    font-size: 12px;
    display: block;
    padding-left: 24px;
    color: #d50000;
    font-family: 'Gotham-Medium', Arial, sans-serif;
}
.medium-password{
    display: block;
    margin-top: 5px;
    height: 5px;
    width:50%;
    background: orangered;
}
.strong-password{
    display: block;
    margin-top: 5px;
    height: 5px;
    width:100%;
    background: green;
}
.weak-password{
    display: block;
    margin-top: 5px;
    height: 5px;
    width:30%;
    background: red;
}
@media (min-width: 1200px){
    .container {
        width: 1000px;
    }
}